
<p>
    <label>Student:</label><input [(ngModel)]="student" type='text' placeholder="Enter full name"/>
  <p>
    <label>Email:</label><input [(ngModel)]="email" type='text' placeholder="Enter email address"/>
  </p>
<p>
  <label>Performance</label>
</p>
<!-- Add Performance Table Here -->

    <table>
        <tr>
          <th>Points</th>
          <th>Points Possible</th>
          <th>Percent</th>
          <th>Grade</th>
        </tr>
        <tr>
          <td>{{ performance.pointscored }}</td>
          <td>{{ performance.pointspossible }}</td>
          <td>{{ performance.percentotal | percent }}</td>
          <td>{{ performance.percentotal | grade }}</td>
        </tr>
      </table>


<p>
<label>Add Assignment</label>
</p>
<p>
  <label>Assignment Name:</label><input [(ngModel)]="assignment" type='text' placeholder="Enter assignment name"/>
<p>
  <label>Scored Points:</label><input [(ngModel)]="score" type='number' placeholder="Enter points scored"/>
</p>
<p>
  <label>Points Possible:</label><input [(ngModel)]="possible" type='number' placeholder="Enter points possible"/>
</p>
<p>
    <button (click)="calcandadd()">Add Assignment</button>
   </p>
<p>
    <label>Assignments</label>
</p>
<!-- Add Assignments Table Here -->
<table>
  <tr>
    <th>Assignment Name</th>
    <th>Points Scored</th>
    <th>Points Possible</th>
    <th>Percent</th>
  </tr>
  <tr *ngFor="let iteration of assignmentsRows">
    <td>{{ iteration.assignment }}</td>
    <td>{{ iteration.score }}</td>
    <td>{{ iteration.possible }}</td>
    <td>{{ iteration.rowpercent | percent }}</td>
  </tr>
</table>
   

